/* Main Layout Styles */
.main-content {
  background-color: rgba(255, 255, 255, 0.479);
  min-height: 100vh;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: initial;
}
.side-content {
  background-color: rgba(255, 255, 255, 0.479);
  min-height: 100vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* General Font Rules */
h1 {
  color: #000 !important;
  text-align: left !important;
}
h2 {
  color: #000 !important;
  text-align: left !important;
}
h3 {
  color: #000 !important;
  text-align: left !important;
}
h4 {
  color: #000 !important;
  text-align: left !important;
}
p {
  color: #000 !important;
  text-align: left !important;
}
label {
  font-weight: bold !important;
  text-align: left !important;
  display: inline !important;
}
hr {
  width: 90%;
}
.italics {
  font-style: italic;
}

/* UI Components */
.b-cards {
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardButton {
  background-color: #183653 !important;
  border: 1px #183653 solid !important;
  color: #fff !important;
}
.cardButton:hover {
  background-color: #fff !important;
  border: 1px #183653 solid !important;
  color: #183653 !important;
}
